Header set Access-Control-Allow-Origin "*"

AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript



 <filesMatch ".(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
 Header set Cache-Control "max-age=2592000, public"
 </filesMatch>

 <filesMatch ".(xml|txt)$">
 Header set Cache-Control "max-age=86400, public, must-revalidate"
 </filesMatch>

 <filesMatch ".(html|htm)$">
 Header set Cache-Control "max-age=14400, must-revalidate"
 </filesMatch>



### Activate the rewrite rule engine
RewriteEngine On

### If the request contains the _escaped_fragment_ query parameter, set a flag to proxify the request to SEO4Ajax
#RewriteCond %{ENV:PROXIFY} !true
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{QUERY_STRING} _escaped_fragment_= [NC]
#RewriteRule .* - [E=PROXIFY:true,E=REQUEST_PATH:%{REQUEST_URI}]

### If the request is issued by another known bot, set a flag to proxify the request to SEO4Ajax
### Note: the 5 following lines can be commented if you are using #! URLs
#RewriteCond %{ENV:PROXIFY} !true
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{HTTP_USER_AGENT} !(googlebot|bing|msnbot|yandexbot|pinterest.*ios|mail\.ru|seznambot|screaming) [NC]
#RewriteCond %{HTTP_USER_AGENT} (bot|spider|pinterest|crawler|archiver|flipboardproxy|mediapartners|facebookexternalhit|quora) [NC]
#RewriteRule .* - [E=PROXIFY:true,E=REQUEST_PATH:%{REQUEST_URI}]

### Proxify the request to SEO4Ajax
#RewriteCond %{ENV:PROXIFY} true
#RewriteRule ^(.*)$ http://api.seo4ajax.com/3a39b612098be2d74cd9862cec812b8d%{ENV:REQUEST_PATH} [P,QSA,L]

### Otherwise, if the requested file is not present on the server, serve the index file
### Note: the 3 following lines can be commented if you are using #! URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]